@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sigmar&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sigmar&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", serif;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

/* header css */
header {
  padding: 15px;
  background-color: rgb(25, 25, 25);
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
}
nav {
  color: #d3d3d3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

nav > ol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

nav > ol > li > a {
  padding: 0px 15px;
  text-decoration: none;
  color: #d3d3d3;
}

/* main body css */
main {
  padding: 0px 40px 0px 40px;
}

/* section1 css */
section {
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 60px 0px;
  box-shadow: rgba(119, 115, 115, 0.236) 0px -1px 1px;
}

section:target {
  margin-top: 80px;
  padding-top: 60px;
}

/* section1 */
.cards {
  box-sizing: border-box;
  margin: 20px 0px 20px 0px;
  max-width: 500px;
  min-width: 500px;
  height: 600px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.image-box1 {
  height: 200px;
  width: 500px;
  overflow: hidden;
  position: relative;
  background-image: url("https://media.gettyimages.com/id/640971127/photo/bolts-of-electricity-discharging-in-the-lab-of-nikola-tesla.jpg?s=612x612&w=0&k=20&c=fmywXWTrs0uzGhUyJMQ6h8pFIDZgngvakYfvBoAp--s=");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
}
.image-box2 {
  height: 200px;
  width: 500px;
  overflow: hidden;
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1567004202816-d743ddf99670?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGVybmVzdCUyMGhlbWluZ3dheXxlbnwwfHwwfHx8MA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
}
.image-box3 {
  height: 200px;
  width: 500px;
  overflow: hidden;
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1739179418323-2d9517032c6f?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDE2fGlVSXNuVnRqQjBZfHxlbnwwfHx8fHw%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

.image-box1 > img,
.image-box2 > img,
.image-box3 > img {
  position: absolute;
  top: 1.5em;
  left: 1.5em;
  width: 20%;
  height: 40%;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.content-holder {
  box-sizing: border-box;
  padding: 1rem;
}

.content {
  position: relative;
}

.more {
  position: absolute;
  margin: 0px 10px -10px 0px;
  bottom: 0px;
  right: 0px;
  background-color: #d3d3d3;
  border-radius: 50%;
  color: white;
  font-weight: bolder;
  font-size: 20px;
}
.more > p {
  padding: 0px 5px 0px 5px;
}

h1,
h2,
p {
  padding: 10px;
}

h2 {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px, rgba(17, 17, 26, 0.1) 0px -1px 1px;
}

.cards > .button {
  position: absolute;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  align-items: center;
  height: 30%;
  width: 90%;
  padding: 30px;
  color: #ffffff;
  background-color: rgb(16, 155, 206);
  border: none;
  font-size: 20px;
  font-weight: 700;
}

/* section 2 css */
.card2 {
  box-sizing: border-box;
  margin: 20px 0px;
  max-width: 400px;
  min-width: 400px;
  height: fit-content;
  position: relative;
  overflow: hidden;
  border: none;
  border-radius: 5px;
}

.image-box4 {
  height: 500px;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

#great-food {
  /* position: absolute; */
  width: 100%;
}

/* footer css */
.foot {
  height: auto;
  width: 100vw;
  background-color: rgb(25, 25, 25);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
}

.foot-items > h1 {
  padding: 15px 0px;
  color: rgb(255, 255, 255);
  font-size: 18px;
}

ol {
  margin-bottom: 10px;
}

li {
  color: rgb(156, 156, 158);
  list-style: none;
}

th {
  padding: 0px 10px;
  color: rgb(255, 255, 255);
}
td {
  padding: 0px 10px;
  color: rgb(156, 156, 158);
}

.cert {
  color: rgb(156, 156, 158);
  padding-top: 10px;
  text-align: center;
  font-weight: 600;
}

.cert > p,
h1 {
  padding: 0;
}

.cert > h1 {
  font-size: 60px;
  text-decoration: underline 5px solid rgb(156, 156, 158);
  padding: 0px;
}
