@import 'tailwindcss';

@theme {
  --color-body: #131927;
  --color-primary: #ffffff;
  --color-secondary: #86e5ec;
  --color-teritary: #378daa;
  --color-btnGray: #4c5660;
  --color-defaultGreen: #0fb981;
  --my-grid: repeat(auto-fit, minmax(300px, 1fr));
  --animate-wiggle: wiggle 1s ease-in-out infinite;

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-1deg);
    }
    50% {
      transform: rotate(1deg);
    }
  }
}

@layer base {
  h1 {
    @apply text-6xl font-bold max-sm:text-3xl;
  }
  h2 {
    @apply text-2xl font-semibold max-sm:text-xl;
  }
  h3 {
    @apply text-xl tracking-widest leading-[1.6] max-sm:text-lg;
  }
  p {
    @apply text-lg max-sm:text-base leading-[1.6] text-justify;
  }
  label {
    @apply text-2xl font-semibold px-3.5 tracking-widest leading-[1.6] max-sm:text-lg;
  }
  input {
    @apply border-2 rounded-2xl text-xl font-semibold px-10 py-1 tracking-widest leading-[1.6] max-sm:text-lg;
  }
}

@layer utilities {
  .bg-linear {
    @apply bg-gradient-to-r from-secondary to-teritary;
  }
  .text-linear {
    @apply bg-gradient-to-r from-secondary to-teritary bg-clip-text text-transparent;
  }
  .nav-text {
    @apply flex gap-4 text-lg;
  }
  .hoverNav {
    @apply hover:text-secondary;
  }
}
